<!doctype html>
<html lang="es">
  <head>
    <title>Smart Wolf</title>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js" integrity="sha256-1eSvllkLdrfxD6G8RGF9h+mQuD93Af5+GdPBMNc7uMQ=" crossorigin="anonymous"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="img/logo/IconoWolf.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Departamento de marketing digital externo, enfocados en empresas o proyectos que requieran dentro de su estructura una sección dedicada al mercadeo, o que busquen tercerizar alguna actividad específica de este.">
    <link href="https://fonts.googleapis.com/css?family=Biryani:400,900|Tinos:400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
    <!-- Estilos propios -->
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body id="wolf"> <!-- Page start -->

      <!-- navbar -->
      <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#wolf"><img src="img/logo/IconoWolf.png" alt="logo" class="navbar-logo"> <span class="smart-text-style">Smart</span><span id="wolf-nav-icon">Wolf</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- botones colapsables -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link font-tinos" href="#quienesSomos">¿Quienes Somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-tinos" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-tinos" href="#clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-tinos" href="#contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- Pagina de bienvenida -->
  <div class="jumbotron">
    <div class="container text-center welcome py-4">
      <h1 class="display-5 font-biryani-black">BIENVENIDO A LA MANADA</h1>
      <p class="lead">Un departamento de marketing digital a tu disposición.</p>
      <hr>
      <p class="lead">
        <a class="btn btn-outline-primary btn-lg" href="#quienesSomos" role="button">¿Interesado?</a>
      </p>
    </div>
  </div>
  
  <!-- Seccion de "Quienes Somos" -->
  <section class="container">
    <h1 id="quienesSomos" class="padding-for-nav font-tinos-bold"><div class="title-dash-blue"></div>¿Quiénes Somos?</h1>
    <br>
    <div class="row font-18">
      <div class="col-md-3 smart-text-style d-none d-md-block">Calidad</div>
      <div class="col-md-7 bg-QS-section text-light"><p class="text-justify">...<span class="span font-48">U</span>n grupo de <strong>profesionales apasionados</strong> por las redes sociales, el marketing digital, las nuevas tecnologías y principalmente el <strong>impacto positivo</strong> de todo esto en su Empresa.</p></div>
    </div>
    <p class="smart-text-style text-center d-md-none"><span>---------</span> Calidad y Compromiso  <span>---------</span></p>
    <div class="row font-18">
      <div class="col-md-7 bg-QS-section text-light"><p class="text-justify"><span class="span font-48">Q</span>ueremos ayudarle a <strong>atraer clientes</strong> a través de una imagen dinámica y fresca para su empresa.</p></div>
      <div class="col-md-3 smart-text-style d-none d-md-block">Compromiso</div>
    </div>
    <div class="row my-4 font-28 text-center mobile-font-14">
      <div class="col-1 display-5 font-biryani-black my-auto pt-5">-</div>
      <div class="col-9 display-5 font-biryani-black my-auto mx-auto pt-5">NUESTRO OBJETIVO ES QUE ALCANCES LOS TUYOS</div>
      <div class="col-1 display-5 font-biryani-black my-auto pt-5">-</div>
    </div>
  </section>
  <!-- div para fondo azul -->
  <div class="container-fluid bg-blue-4 pb-5"> 
    <!-- Seccion de Servicios -->
    <section class="container my-0">
      <h1 id="servicios" class="padding-for-nav text-right position-relative text-light font-tinos-bold"><div class="title-dash-white"></div>Servicios</h1>
      <ul class="row">
        <li class="col-md-4">
          <div class="bg-S-section">
            <span class="fab fa-twitter color-blue-1"></span>
            <h2 class="font-biryani">Marketing en Redes Sociales</h2>
            <p>Atraiga nuevos seguidores.</p>
          </div>
        </li>
        <li class="col-md-4">
          <div class="bg-S-section">
            <span class="fas fa-globe color-blue-1"></span>
            <h2 class="font-biryani">Diseño de Páginas Web</h2>
            <p>Lleve su presencia al entorno digital.</p>
          </div>
        </li>
        <li class="col-md-4">
          <div class="bg-S-section">
            <span class="far fa-handshake color-blue-1"></span>
            <h2 class="font-biryani">Asesoría de Marketing</h2>
            <p>Nuestros profesionales le darán el insight que necesita para alanzar sus metas.</p>
          </div>
        </li>
        <div class="col-md-2"></div>
        <li class="col-md-4">
          <div class="bg-S-section">
            <span class="fas fa-pencil-alt color-blue-1"></span>
            <h2 class="font-biryani">Diseño Gráfico</h2>
            <p>Genere o Refresque la imagen de su compañía.</p>
          </div>
        </li>
        <li class="col-md-4">
          <div class="bg-S-section">
            <span class="fas fa-at color-blue-1"></span>
            <h2 class="font-biryani">Marketing Inbound</h2>
            <p>Lista de correos, base de datos de clientes, manténgalos informados de acuerdo a sus necesidades.</p>
          </div>
        </li>
          <div class="col-md-2 d-none d-md-block"></div>
      </ul>
    </section>
    <!-- fin de seccion Servicios -->
  </div>
  <!-- fin de fondo color azul -->
  <!-- fondo color gris -->
  <div class="container-fluid bg-grey-2 pb-5">
    <!-- Seccion de Clientes -->
    <section class="container my-0">
      <h1 id="clientes" class="padding-for-nav font-tinos-bold"><div class="title-dash-orange"></div>Clientes</h1>
      <div class="row">
        <div class="col-1 font-48 my-auto mx-auto d-none d-md-block"><button class="fas fa-angle-left "></button></div>
        <div class="col-6 col-md-3 mb-2 mx-auto visible cliente">
          <div class="bg-C-section">
            <div class="client-logo"><img src="img/cliente1.png" alt="Just Betas Logo"></div>
            <h3 class="font-biryani-black font-18 text-center px-1 mt-2">Just Betas</h3>
            <a href="https://twitter.com/justbetas" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-0 px-1">@JustBetas</a>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-2 mx-auto visible cliente">
          <div class="bg-C-section">
            <div class="client-logo"><img src="img/cliente2.png" alt="Viva Hostel Logo"></div>
            <h3 class="font-biryani-black font-18 text-center px-1 mt-2">Viva Hostel</h3>
            <a href="https://twitter.com/vivahostel_cl
" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-0 px-1">@Vivahostel_cl</a>
            <a href="http://www.vivahostal.cl/" target="_blank" class="d-block font-biryani text-center font-12 text-truncate mb-3 px-1">www.vivahostal.cl</a>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-2 mx-auto visible cliente">
          <div class="bg-C-section">
            <div class="client-logo"><img src="img/cliente3.png" alt="Das Chile Logo"></div>
            <h3 class="font-biryani-black font-18 text-center px-1 mt-2">Das Chile</h3>
            <a href="https://twitter.com/daschileoficial" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-0 px-1">@DasChileOficial</a>
            <a href="https://www.das-chile.cl" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-3 px-1">www.das-chile.cl</a>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-2 mx-auto d-md-none cliente">
          <div class="bg-C-section">
            <div class="client-logo"><img src="img/cliente4.png" alt="JorgeTorricoGP Logo"></div>
            <h3 class="font-biryani-black font-18 text-center px-1 mt-2">Jorge Torrico GP</h3>
            <a href="https://twitter.com/jorgetorricogp" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-0 px-1">@JorgeTorricoGP</a>
            <a href="http://gpremium.cl" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-3 px-1">www.gpremium.cl</a>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-2 mx-auto d-md-none cliente">
          <div class="bg-C-section">
            <div class="client-logo"><img src="img/cliente5.png" alt="Knub Shoes Logo"></div>
            <h3 class="font-biryani-black font-18 text-center px-1 mt-2">Knub Shoes</h3>
            <a href="https://twitter.com/knub_shoes?lang=es" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-0 px-1">@Knub_shoes</a>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-2 mx-auto d-none d-md-none cliente">
          <div class="bg-C-section">
            <div class="client-logo"><img src="img/cliente6.png" alt="Super Cines Logo"></div>
            <h3 class="font-biryani-black font-18 text-center px-1 mt-2">Super Cines</h3>
            <a href="https://twitter.com/supercinesca?lang=es" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-0 px-1">@SupercinesCa</a>
            <a href="http://www.supercines.com.ve/" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-3 px-1">www.supercines.com.ve</a>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-2 mx-auto d-none d-md-none cliente">
          <div class="bg-C-section">
            <div class="client-logo"><img src="img/cliente7.png" alt="Voy Al Centro Logo"></div>
            <h3 class="font-biryani-black font-18 text-center px-1 mt-2">Voy Al Centro</h3>
            <a href="https://twitter.com/voyalcentro?lang=es" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-0 px-1">@VoyAlCentro</a>
            <a href="http://www.voyalcentro.com/" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-3 px-1">www.voyalcentro.com</a>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-2 mx-auto d-none d-md-none cliente">
          <div class="bg-C-section">
            <div class="client-logo"><img src="img/cliente8.png" alt="Vission Servicios Integrales Logo"></div>
            <h3 class="font-biryani-black font-18 text-center px-1 mt-2">Vission S.I.</h3>
            <a href="https://twitter.com/vissionsi" target="_blank" class="d-block font-biryani text-center text-truncate font-12 mb-0 px-1">@VissionSI</a>
          </div>
        </div>
        <div class="col-6 col-md-3 mb-2 mx-auto d-none d-md-none cliente"></div>
        <div class="col-6 my-auto mx-auto d-md-none text-center">
          <p class="font-tinos mb-2">¿Desea conocer un poco más acerca de nosotros? Dele un vistazo a nuestro portafolio</p>
          <a href="Portafolio Smart Wolf.pdf" download><button class="btn btn-primary font-biryani" target="_blank">PORTAFOLIO</button></a>
        </div>
        <div class="col-1 font-48 my-auto mx-auto d-none d-md-block"><button class="fas fa-angle-right"></button></div>
      </div>
      <div class="mx-auto my-0 text-center d-none d-md-block">
        <span class="page-indicator activo"></span>
        <span class="page-indicator"></span>
        <span class="page-indicator"></span>
      </div>
      <div class="my-auto mx-auto d-none d-md-block text-center">
          <p class="font-tinos mb-2">¿Desea conocer un poco acerca de nosotros? Dele un vistazo a nuestro portafolio</p>
          <a href="Portafolio Smart Wolf.pdf" download><button class="btn btn-primary font-biryani" target="_blank">PORTAFOLIO</button></a>
        </div>
    </section>
    <!-- fin seccion de Clientes -->
  </div>
  <!-- fin fondo color gris -->
  <!-- comienzo seccion contacto fondo blanco -->
  <section class="container">
    <h1 id="contacto" class="padding-for-nav font-tinos-bold"><div class="title-dash-blue"></div>Contacto</h1>
    <br>
    <p class="font-biryani font-18">Si desea recibir información sobre cualquiera de nuestros servicios y tarifas no dude en comunicarse con nosotros a través de nuestro formulario de contacto y recibirá una respuesta de nuestro equipo en las próximas 24 horas.</p>
    <form action="/contacto" method="POST" id="contactForm">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="nombreCli" class="font-tinos font-18">Nombre</label>
          <input type="text" id="nombreCli" name="nombreCli" class="form-control" required maxlength="25">
        </div>
        <div class="form-group col-md-6">
          <label for="emailCli" class="font-tinos font-18">Correo</label>
          <input type="email" id="emailCli" name="emailCli" class="form-control" required maxlength="25">
        </div>
      </div>
      <div class="row"> 
        <div class="form-check ml-5 ml-md-0 col-md-4">
          <input type="checkbox" name="servicios" value="Marketing en Redes Sociales" class="form-check-input" id="marketingRS">
          <label class="form-check-label" for="marketingRS">Marketing en Redes Sociales</label>
        </div>
        <div class="form-check ml-5 ml-md-0 col-md-4">
          <input type="checkbox" name="servicios" value="Diseño de Páginas Web" class="form-check-input" id="disenoPW">
          <label class="form-check-label" for="disenoPW">Diseño de Páginas Web</label>
        </div>
        <div class="form-check ml-5 ml-md-0 col-md-4">
          <input type="checkbox" name="servicios" value="Asesoria de Marketing" class="form-check-input" id="asesoriaM">
          <label class="form-check-label" for="asesoriaM">Asesoría de Marketing</label>
        </div>
        <div class="form-check ml-5 ml-md-0 col-md-4">
          <input type="checkbox" name="servicios" value="Diseño Gráfico" class="form-check-input" id="disenoG">
          <label class="form-check-label" for="disenoG">Diseño Gráfico</label>
        </div>
        <div class="form-check ml-5 ml-md-0 col-md-4">
          <input type="checkbox" name="servicios" value="Marketing Inbound" class="form-check-input" id="marketingI">
          <label class="form-check-label" for="marketingI">Marketing Inbound</label>
        </div>
      </div>
      
      <p class="font-tinos font-18">Porfavor, describa la información que requiere</p>
      <textarea form="contactForm" name="descripcion" id="descripcion" maxlength="1000"></textarea>
      <button type="submit" class="btn btn-primary btn-block font-biryani">ENVIAR!</button>
    </form>

    
  </section>
  
  

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
      <script src="js/mainFront.js"></script>
    </body>
</html>

<!-- <h4>Deseo información sobre los sigueintes servicios:</h4>
<ul><li></li></ul>
<h4>Detalle de información solicitada:</h4>
<p></p>
<h4>Contacto del cliente</h4>
<p></p> -->